.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid gray 1px;
  margin: 0 1rem;
  align-items: center;
}

.container > * {
    padding: 0.5rem;
}

.file-group,
.file-group > label ,
.file-group > input {
    display: block;
    width: 100%;
}

